<ion-header>
  <ion-toolbar class="custom-toolbar">
    <ion-title #titulo class="ion-text-left font-size-18">
      <div class="bienvenida-titulo">{{ 'Welcome.Message' | translate }}</div>
      <h3>{{ usuario.nombre }} {{ usuario.apellido }} </h3>
    </ion-title>
    

      <ion-button slot="end" class="custom-toolbar" id="Cerrar Sesión" (click)="cerrarSesion() ">
        {{ 'ThemePage.Button.Logout' | translate}}
        <ion-icon name="log-out-outline" color="white"></ion-icon>
      </ion-button>
  </ion-toolbar>
</ion-header>

