#mapId {
  height: 100vh; /* Hace que el mapa ocupe todo el alto de la pantalla */
}

.custom-footer {
  --background: #ffb800; /* Cambia el fondo del toolbar a amarillo */
  --color: black; /* Cambia el color del texto a negro */
  
}
